In [1]:
from deepar import *

In [2]:
mx.random.seed(0)
np.random.seed(0)

In [3]:
filepath = 'data/cr2_qflxAmon_2018/cr2_qflxAmon_2018.txt'
df_fl = pd.read_csv(filepath, parse_dates=True)
filepath = 'data/cr2_tasAmon_2018_ghcn/cr2_tasAmon_2018_ghcn.txt'
df_t = pd.read_csv(filepath, parse_dates=True)

In [4]:
df_t = df_t.loc[:,df_t.iloc[0] == 'DGA']
df_t = df_t.add_prefix('t_')

In [5]:
df = pd.concat([df_fl, df_t], axis=1)

In [6]:
df = df.replace(-9999, np.nan)
df = df.replace('-9999', np.nan)

In [7]:
df = df.drop([i for i in range(14)])
df = df.rename(columns={"codigo_estacion": "dates"})

In [8]:
df

,dates,1201005,1201002,1201001,1001002,1201003,1001003,1001001,1020002,1020004,...,t_12863001,t_12582003,t_12873001,t_12821000,t_12876003,t_12879000,t_12878002,t_12930004,t_12930001,t_12930005
14,1900-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1900-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1900-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1900-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1900-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1426,2017-09,0.219,NaN,NaN,NaN,6.834,NaN,NaN,NaN,NaN,...,4.49,2.875,2.636,NaN,3.797,0.072,4.991,4.764,3.56,4.168
1427,2017-10,0.234,NaN,NaN,NaN,10.948,NaN,NaN,NaN,NaN,...,6.183,4.08,4.076,NaN,5.589,1.58,6.13,6.176,4.821,5.513
1428,2017-11,0.241,NaN,NaN,NaN,9.494,NaN,NaN,NaN,NaN,...,8.829,6.378,6.641,NaN,8.526,4.469,8.236,8.234,7.108,7.499
1429,2017-12,0.288,NaN,NaN,NaN,2.6,NaN,NaN,NaN,NaN,...,9.538,6.433,6.774,NaN,8.593,4.138,8.656,8.839,7.833,8.252
1430,2018-01,0.514,NaN,NaN,NaN,11.812,NaN,NaN,NaN,NaN,...,11.315,8.74,8.435,10.25,10.453,6.143,10.444,10.672,9.425,9.693

In [16]:
test_station = '7321002'
columns = ['dates', test_station, 't_' + test_station]
df1 = get_df(df, columns, past_years=20)
model = fit(df1, columns)
predict(model, df1, test_station, plot=False)

  0%|          | 0/50 [00:00<?, ?it/s]learning rate from ``lr_scheduler`` has been overwritten by ``learning_rate`` in optimizer.
100%|██████████| 50/50 [00:02<00:00, 21.53it/s, epoch=1/10, avg_epoch_loss=3.14]
100%|██████████| 50/50 [00:02<00:00, 23.35it/s, epoch=2/10, avg_epoch_loss=2.9]
100%|██████████| 50/50 [00:02<00:00, 24.77it/s, epoch=3/10, avg_epoch_loss=2.95]
100%|██████████| 50/50 [00:02<00:00, 24.39it/s, epoch=4/10, avg_epoch_loss=2.87]
100%|██████████| 50/50 [00:02<00:00, 24.55it/s, epoch=5/10, avg_epoch_loss=2.97]
100%|██████████| 50/50 [00:02<00:00, 24.50it/s, epoch=6/10, avg_epoch_loss=2.81]
100%|██████████| 50/50 [00:02<00:00, 23.41it/s, epoch=7/10, avg_epoch_loss=2.91]
100%|██████████| 50/50 [00:02<00:00, 24.00it/s, epoch=8/10, avg_epoch_loss=2.79]
100%|██████████| 50/50 [00:02<00:00, 21.02it/s, epoch=9/10, avg_epoch_loss=2.8]
100%|██████████| 50/50 [00:02<00:00, 24.22it/s, epoch=10/10, avg_epoch_loss=2.83]
Running evaluation: 100%|██████████| 5/5 [00:00<00:00, 88.32it/s]
Running evaluation: 100%|██████████| 5/5 [00:00<00:00, 179.68it/s]

        DeepAR  Seasonal naive
MASE  0.264925        0.277483
MSIS  2.285967       11.099312
NSE   0.021500       -0.144646

In [17]:
columns = ['dates', '7321002', '7300001', '7317005', '7303000', '7306001', '7317003', '7308002', '7308001', '7320003', 't_7321002', 't_7317005', 't_7303000', 't_7306001', 't_7320003']
df2 = get_df(df, columns, past_years=20)
model = fit(df2, columns)
predict(model, df2, test_station, plot=False)

  0%|          | 0/50 [00:00<?, ?it/s]learning rate from ``lr_scheduler`` has been overwritten by ``learning_rate`` in optimizer.
100%|██████████| 50/50 [00:02<00:00, 22.75it/s, epoch=1/10, avg_epoch_loss=2.12]
100%|██████████| 50/50 [00:02<00:00, 24.30it/s, epoch=2/10, avg_epoch_loss=2.07]
100%|██████████| 50/50 [00:02<00:00, 24.46it/s, epoch=3/10, avg_epoch_loss=2.04]
100%|██████████| 50/50 [00:02<00:00, 24.24it/s, epoch=4/10, avg_epoch_loss=2.06]
100%|██████████| 50/50 [00:02<00:00, 24.14it/s, epoch=5/10, avg_epoch_loss=2.1]
100%|██████████| 50/50 [00:02<00:00, 24.43it/s, epoch=6/10, avg_epoch_loss=2.02]
100%|██████████| 50/50 [00:02<00:00, 24.26it/s, epoch=7/10, avg_epoch_loss=1.98]
100%|██████████| 50/50 [00:02<00:00, 24.42it/s, epoch=8/10, avg_epoch_loss=1.94]
100%|██████████| 50/50 [00:02<00:00, 24.47it/s, epoch=9/10, avg_epoch_loss=2.07]
100%|██████████| 50/50 [00:02<00:00, 24.50it/s, epoch=10/10, avg_epoch_loss=1.93]
Running evaluation: 100%|██████████| 5/5 [00:00<00:00, 121.89it/s]
Running evaluation: 100%|██████████| 5/5 [00:00<00:00, 176.02it/s]

        DeepAR  Seasonal naive
MASE  0.218462        0.277483
MSIS  1.976470       11.099312
NSE   0.095612       -0.144646

In [18]:
df3 = df.iloc[- 20 * 12:]
df3 = df3.set_index('dates')
df3 = df3.dropna(thresh=100, axis=1)
columns = df3.columns.values.tolist()

model = fit(df3, columns)
predict(model, df3, test_station, plot=False)

  0%|          | 0/50 [00:00<?, ?it/s]learning rate from ``lr_scheduler`` has been overwritten by ``learning_rate`` in optimizer.
100%|██████████| 50/50 [00:02<00:00, 21.36it/s, epoch=1/10, avg_epoch_loss=3.06]
100%|██████████| 50/50 [00:02<00:00, 21.29it/s, epoch=2/10, avg_epoch_loss=2.85]
100%|██████████| 50/50 [00:02<00:00, 18.98it/s, epoch=3/10, avg_epoch_loss=3]
100%|██████████| 50/50 [00:02<00:00, 21.11it/s, epoch=4/10, avg_epoch_loss=2.64]
100%|██████████| 50/50 [00:01<00:00, 25.03it/s, epoch=5/10, avg_epoch_loss=2.73]
100%|██████████| 50/50 [00:02<00:00, 24.92it/s, epoch=6/10, avg_epoch_loss=2.94]
100%|██████████| 50/50 [00:02<00:00, 24.43it/s, epoch=7/10, avg_epoch_loss=2.94]
100%|██████████| 50/50 [00:02<00:00, 24.99it/s, epoch=8/10, avg_epoch_loss=2.65]
100%|██████████| 50/50 [00:01<00:00, 25.00it/s, epoch=9/10, avg_epoch_loss=2.76]
100%|██████████| 50/50 [00:01<00:00, 25.19it/s, epoch=10/10, avg_epoch_loss=2.98]
Running evaluation: 100%|██████████| 5/5 [00:00<00:00, 177.13it/s]
Running evaluation: 100%|██████████| 5/5 [00:00<00:00, 213.02it/s]

        DeepAR  Seasonal naive
MASE  0.239605        0.277483
MSIS  1.653873       11.099312
NSE   0.058501       -0.144646